*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section{
    height: 100vh;
    width: 100vw;
    background-color: #212529;
}
header{
    height: 8vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    background: #495057;
    border-bottom: 1px solid blueviolet;
}
.name{
    height: 8vh;
    width: 80vw;
    display: flex;
}
.nam{
    outline: 0;
    border: 0;
}
.buttons{
    font-size: 2.1vh;
    height: 5vh;
    width: 20vw;
    display: flex;
    justify-content: space-around;
    padding-left: 3.1vw;
}
.buttons a{
    height: 6vh;
    max-width: 6vw;
    padding: 18px;
    border-radius: 10px;
    background-color: blueviolet;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    place-items: center;
}
.buttons i{
    margin: 4px 5px 0px 0px;
}
.logo i{
    font-size: 5.8vh;
    color: blueviolet;
}
.editor{
    height: 90vh;
    width: 100vw;
    padding: 20px;
    display: flex;
}
.inputs, .output{
    flex-basis: 50%;  
    padding: 10px;
}
textarea{
    height: 24.6vh;
    width: 100%;
    padding: 10px 20px;
    border: 2px solid;
    border-image: linear-gradient(to bottom, #a332ff, #333, #ffffff) 5;
    border-image-slice: 1;
    outline: 0;
    outline: 0;
    color: white;
    background: #495057;
    font-size: 1.8vh;
}
iframe{
    width: 100%;
    height: 82vh;
    background: #495057;
    border: 2px solid;
    border-image: linear-gradient(to bottom, #a332ff, #333, #ffffff) 5;
    border-image-slice: 1;
    outline: 0;
}
label i{
    margin-left: 10px;
    margin-right: 10px;
}
label{
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #a332ff, #495057, #495057);
    height: 3.5vh;
}